<%- include("../partials/header") %>

<div class="container">
		<div class="row">
			<h1>
				Add a new comment to: <%= campground.name %>
			</h1>
		</div>
		
		<div class="row">
			<div>
				<form action = "/campgrounds/<%= campground._id%>/comments" method = "POST">
					<div class="form-group">
						<input class="form-control" type="text" name="comment[text]" placeholder="text">
					</div>

					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">
							submit!
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<a href="/campgrounds">
				back to view all
			</a>	
		</div>


</div>

<%- include("../partials/footer") %>